{
  "plugins": [
    "transform-flow-strip-types"
  ],
  "env": {
    "production": {
      "presets": [["env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"],
          "node": "current"
        },
        "modules": false
      }], "stage-0"],
      "plugins": [
        "external-helpers",
      ],
    },
    "test": {
      "presets": ["env", "stage-0"]
    }
  }
}